body{
  background-color: #171616;
  color: white;
  font-family: 'Fjalla One', sans-serif;
  text-align: : justify;
}
img{
  width: 100%;
  height: auto;
}
h1{
  text-align: center;
  font-size: 280px;
}
h2{
  font-size: 70px;
  text-align: center;
}
p{
  color: pink;
}
